<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form style="display:flex;flex-direction:column;width: max-content;" action="/favoriteSurvey" method="POST">
        <input type="text" name="name" placeholder="name">
        <input type="eamil" name="email" placeholder="Email">
        <input type="number" name="phone" placeholder="Ph No.">
        <input type="text" name="favoriteColor" placeholder="favorite Color">
        <input type="text" name="favoriteFood" placeholder="favorite food">
        <textarea name="feedback" placeholder="Feedback"></textarea>
        <input type="submit" name="submit" >
    </form>
</body>
</html>